// colors
$black: black;
$white: #FFFFFF;
$dirtyWhite: #CECECE;
$lightGray: #f2f8fc;
$gray: #30303066;
$darkgray: #3E3E3E;
$lightestBlue: #9ce0ff;
$lighterBlue: #40c4ff;
$lightBlue: #55acee;
$green: green;
$reddish: #EE2852;
$dark: #222222;
$greenish: #1a4e4f;
$yellow: #ffd740;